<!-- header-banner -->
<div id="header-banner">
    <div class="banner-content single-page text-center">
        <div class="banner-border">
            <div class="banner-info">
                <h1>Créer un compte</h1>
            </div><!-- / banner-info -->
        </div><!-- / banner-border -->
    </div><!-- / banner-content -->
</div>
<!-- / header-banner -->
</header>
<!-- / header -->

<!-- login-register -->
<section id="login-register">
  <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div id="register-form">
                <h3 class="log-title">CREER UN COMPTE</h3>
                <div class="field form-group">
                  <%= f.label :email %><br />
                  <%= f.text_field :email, autofocus: true%>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="field form-group">
                  <%= f.label :password, 'Mot de passe' %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> caractères minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="field form-group">
                  <%= f.label :password_confirmation, 'Confirmation du mot de passe' %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  <div class="help-block with-errors"></div>
                </div>
                <!-- log-line -->
                <div class="log-line reg-form-1 no-margin">
                  <div class="actions pull-right">
                    <%= f.submit "Sign up", class: "btn btn-md btn-primary-filled btn-log btn-rounded" %>
                  </div>
                </div><!-- / log-line -->
              <% end %>
            </div>
        </div><!-- / col-sm-6 -->
        <!-- / register form 1 -->
        </div>
      </div>
  </section>
