<!-- header -->
<header>
    <!-- header-banner -->
    <div id="header-banner" class="demo-1">
        <div class="banner-content text-center">
            <div class="banner-border">
                <div class="banner-info">
                    <h1>Matouri</h1>
                    <p>Livraison de photos de chatons.</p>
                </div><!-- / banner-info -->
            </div><!-- / banner-border -->
        </div><!-- / banner-content -->
    </div>
    <!-- / header-banner -->
</header>
<!-- / header -->

<!-- content -->

<!-- features section 3col -->
<section id="features">
    <div class="container">
        <div class="row">
            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-gift"></i>
                    </div>
                    <h5>LIVRAISON GRATUITE</h5>
                    <p>Dans le monde entier.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-dark">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-clock"></i>
                    </div>
                    <h5>LIVRAISON RAPIDE</h5>
                    <p>Dans le monde entier.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-exit"></i>
                    </div>
                    <h5>REMBOURSEMENT</h5>
                    <p>Sous 30 jours.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / features section 3col -->

<!-- shop section -->
<section id="shop">
    <div class="container">
        <div class="page-header no-margin-top text-center">
            <h3>DERNIERS PRODUITS AJOUTÉS</h3>
        </div><!--/ page-header -->
        <ul class="row shop list-unstyled" id="grid">
            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["mens"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$49</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <button type="button" name="button">Acheter</button>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["womens", "accessories"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price"><del>$159</del> $79</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["mens"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$39</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["accessories"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$189</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["womens"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$69</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["accessories"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$359</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
            <!-- / sizer -->

        </ul> <!-- / products -->
    </div><!-- / container -->

</section>
<!-- / shop section -->



<% if user_signed_in? %>
  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Se connecter", new_user_session_path %>
<% end %>
