<!-- preloader -->
<div id="preloader">
    <div class="spinner spinner-round"></div>
</div>
<!-- / preloader -->

<div id="top"></div>

<!-- header -->
<header>

    <!-- nav -->
    <nav class="navbar navbar-default nav-sec navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><%= image_tag "logo.png" %></a>
            </div><!-- / navbar-header -->
            <div class="secondary-nav">
                <a href="login-register.html" class="my-account space-right"><i class="fa fa-user"></i></a>
                <a href="shopping-cart.html" class="shopping-cart"><i class="fa fa-shopping-cart"></i> <span class="cart-badge">2</span></a>
            </div>
            <div class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html"><span>HOME</span></a></li>
                    <li><a href="about.html"><span>ABOUT</span></a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>BLOG</span> <span class="dropdown-icon"></span></a>
                    <ul class="dropdown-menu animated zoomIn fast">
                        <li><a href="blog.html"><span>BLOG FULLWIDTH</span></a></li>
                        <li><a href="blog-masonry.html"><span>BLOG MASONRY</span></a></li>
                        <li><a href="blog-sidebar.html"><span>BLOG SIDEBAR</span></a></li>
                        <li><a href="single-post-full.html"><span>POST FULLWIDTH</span></a></li>
                        <li><a href="single-post.html"><span>POST SIDEBAR</span></a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>SHOP</span> <span class="dropdown-icon"></span></a>
                    <ul class="dropdown-menu animated zoomIn fast">
                        <li><a href="shop.html"><span>FULL WIDTH</span></a></li>
                        <li><a href="shop-right.html"><span>RIGHT SIDEBAR</span></a></li>
                        <li><a href="shop-left.html"><span>LEFT SIDEBAR</span></a></li>
                        <li><a href="shop-masonry.html"><span>MASONRY</span></a></li>
                        <li><a href="single-product.html"><span>SINGLE PRODUCT</span></a></li>
                        <li><a href="single-product2.html"><span>SINGLE PRODUCT 2</span></a></li>
                        <li><a href="single-product3.html"><span>SINGLE PRODUCT 3</span></a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>PAGES</span> <span class="dropdown-icon"></span></a>
                    <ul class="dropdown-menu animated zoomIn fast">
                        <li><a href="faq.html"><span>FAQ</span></a></li>
                        <li><a href="shopping-cart.html"><span>SHOPPING CART</span></a></li>
                        <li><a href="login-register.html"><span>LOGIN / REGISTER</span></a></li>
                        <li><a href="my-account.html"><span>MY ACCOUNT</span></a></li>
                        <li><a href="checkout.html"><span>CHECKOUT</span></a></li>
                        <li><a href="404.html"><span>404 PAGE</span></a></li>
                        <li><a href="components.html"><span>COMPONENTS</span></a></li>
                    </ul>
                    </li>
                    <li><a href="contact.html"><span>CONTACT</span></a></li>
                </ul>
            </div><!--/ nav-collapse -->
        </div><!-- / container -->
    </nav>
    <!-- / nav -->

    <!-- header-banner -->
    <div id="header-banner" class="demo-1">
        <div class="banner-content text-center">
            <div class="banner-border">
                <div class="banner-info">
                    <h1>Minimal Shop</h1>
                    <p>Minimal Fashion Shop</p>
                </div><!-- / banner-info -->
            </div><!-- / banner-border -->
        </div><!-- / banner-content -->
    </div>
    <!-- / header-banner -->
</header>
<!-- / header -->

<!-- content -->

<!-- features section 3col -->
<section id="features">
    <div class="container">
        <div class="row">
            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-gift"></i>
                    </div>
                    <h5>FREE SHIPPING</h5>
                    <p>Free worldwide shipping</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-dark">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-clock"></i>
                    </div>
                    <h5>FAST DELIVERY</h5>
                    <p>Fast worldwide delivery</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center bg-light">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-exit"></i>
                    </div>
                    <h5>MONEY BACK</h5>
                    <p>30 Days money back</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / features section 3col -->

<!-- collections -->
<section id="collections">
    <div class="container">
        <h2 class="hide">COLLECTIONS</h2>
        <div class="row">
            <div class="col-sm-6 collection">
                <a href="#">
                    <%= image_tag "collection1.jpg" %>
                </a>
            </div>
            <!-- / collection -->
            <div class="col-sm-6 collections">
                <div class="row">
                    <div class="col-sm-12 collection">
                        <a href="#">
                            <%= image_tag "collection2.jpg" %>
                        </a>
                    </div><!-- / collection -->
                    <div class="col-sm-6 collection">
                        <a href="#">
                            <%= image_tag "collection3.jpg" %>
                        </a>
                    </div><!-- / collection -->
                    <div class="col-sm-6 collection">
                        <a href="#">
                            <%= image_tag "collection4.jpg" %>
                        </a>
                    </div><!-- / collection -->
                </div><!-- / row -->
            </div>
            <!-- / collections -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / collections -->

<!-- shop section -->
<section id="shop">
    <div class="container">
        <div class="page-header no-margin-top text-center">
            <h3>LATEST PRODUCTS</h3>
        </div><!--/ page-header -->
        <ul class="row shop list-unstyled" id="grid">
            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["mens"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$49</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["womens", "accessories"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price"><del>$159</del> $79</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["mens"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$39</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["accessories"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$189</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["womens"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$69</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- product -->
            <li class="col-xs-6 col-md-4 product m-product" data-groups='["accessories"]'>
                <div class="img-bg-color primary">
                    <h5 class="product-price">$359</h5>
                    <a href="single-product.html" class="product-link"></a>
                    <!-- / product-link -->
                    <%= image_tag "m-product.jpg" %>
                    <!-- / product-image -->

                    <!-- product-hover-tools -->
                    <div class="product-hover-tools">
                        <a href="single-product.html" class="view-btn" data-toggle="tooltip" title="View Product">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="shopping-cart.html" class="cart-btn" data-toggle="tooltip" title="Add to Cart">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div><!-- / product-hover-tools -->

                    <!-- product-details -->
                    <div class="product-details">
                        <h5 class="product-title">PRODUCT TITLE</h5>
                        <p class="product-category">CATEGORY</p>
                    </div><!-- / product-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / product -->

            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
            <!-- / sizer -->

        </ul> <!-- / products -->
    </div><!-- / container -->

</section>
<!-- / shop section -->

<!-- blog section 3col -->
<section id="blog-small">
    <div class="container">
        <div class="page-header no-margin text-center">
            <h3>LATEST POSTS</h3>
        </div>
        <p class="text-center space-top">Sed imperdiet vitae ipsum a tincidunt. Vivamus id ligula turpis. Duis viverra arcu quis.</p>
        <div class="row">

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="single-post.html"><%= image_tag "post-img.jpg" %></a>
                    <div class="small-post-text">
                        <h5><a href="single-post.html">SINGLE POST</a></h5>
                        <p class="small-post-meta">AUG 16, 2016</p>
                        <p class="space-bottom">Suspendisse in mattis neque, sed accumsan erat. Maecenas eget metus dui. Vestibulum accumsan massa quam...</p>
                        <p class="small-post-footer">
                            <a href="single-post.html">READ MORE</a>
                            <span class="post-icons pull-right">
                                <a href="#x"><i class="lnr lnr-thumbs-up"></i></a>
                                <a href="#x"><i class="lnr lnr-bubble"></i></a>
                            </span>
                        </p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="single-post-full.html"><%= image_tag "post-img.jpg" %></a>
                    <div class="small-post-text">
                        <h5><a href="single-post-full.html">FULLWIDTH POST</a></h5>
                        <p class="small-post-meta">AUG 16, 2016</p>
                        <p class="space-bottom">Suspendisse in mattis neque, sed accumsan erat. Maecenas eget metus dui. Vestibulum accumsan massa quam...</p>
                        <p class="small-post-footer">
                            <a href="single-post-full.html">READ MORE</a>
                            <span class="post-icons pull-right">
                                <a href="#x"><i class="lnr lnr-thumbs-up"></i></a>
                                <a href="#x"><i class="lnr lnr-bubble"></i></a>
                            </span>
                        </p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="single-post.html"><%= image_tag "post-img.jpg" %></a>
                    <div class="small-post-text">
                        <h5><a href="single-post.html">POST WITH SIDEBAR</a></h5>
                        <p class="small-post-meta">AUG 16, 2016</p>
                        <p class="space-bottom">Suspendisse in mattis neque, sed accumsan erat. Maecenas eget metus dui. Vestibulum accumsan massa quam...</p>
                        <p class="small-post-footer">
                            <a href="single-post.html">READ MORE</a>
                            <span class="post-icons pull-right">
                                <a href="#x"><i class="lnr lnr-thumbs-up"></i></a>
                                <a href="#x"><i class="lnr lnr-bubble"></i></a>
                            </span>
                        </p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / blog section 3col -->

<!-- brands carousel -->
<section id="brands" class="dark primary-background">
    <h2 class="hidden">&nbsp;</h2>
    <div class="container">
        <div id="brands-carousel" class="owl-carousel">
            <div class="item"><%= image_tag "brand1.png" %></div>
            <div class="item"><%= image_tag "brand2.png" %></div>
            <div class="item"><%= image_tag "brand3.png" %></div>
            <div class="item"><%= image_tag "brand4.png" %></div>
            <div class="item"><%= image_tag "brand5.png" %></div>
            <div class="item"><%= image_tag "brand6.png" %></div>
            <div class="item"><%= image_tag "brand7.png" %></div>
            <div class="item"><%= image_tag "brand8.png" %></div>
            <div class="item"><%= image_tag "brand9.png" %></div>
            <div class="item"><%= image_tag "brand10.png" %></div>
        </div>
    </div><!-- / container -->
</section>
<!-- / brands carousel -->

<!-- / content -->

<!-- scroll to top -->
<a href="#top" class="scroll-to-top page-scroll is-hidden" data-nav-status="toggle"><i class="fa fa-angle-up"></i></a>
<!-- / scroll to top -->

<!-- footer -->
<footer class="light-footer">
    <div class="widget-area">
        <div class="container">
            <div class="row">

                <div class="col-md-4 widget">
                    <div class="about-widget">
                        <div class="widget-title-image">
                            <%= image_tag "logo2.png" %>
                        </div>
                        <p>Vivamus consequat lacus quam, nec egestas quam egestas sit amet. Suspendisse et risus gravida tellus aliquam ullamcorper. Pellentesque elit dolor, ornare ut lorem nec, convallis nibh accumsan lacus morbi leo lipsum.</p>
                    </div><!-- / about-widget -->
                </div><!-- / widget -->
                <!-- / first widget -->

                <div class="col-md-2 widget">
                    <div class="widget-title">
                        <h4>BRANDS</h4>
                    </div>
                    <div class="link-widget">
                        <div class="info">
                            <a href="#x">Brand 1</a>
                        </div>
                        <div class="info">
                            <a href="#x">Brand 2</a>
                        </div>
                        <div class="info">
                            <a href="#x">Brand 3</a>
                        </div>
                        <div class="info">
                            <a href="#x">Brand 4</a>
                        </div>
                    </div>
                </div><!-- / widget -->
                <!-- / second widget -->

                <div class="col-md-2 widget">
                    <div class="widget-title">
                        <h4>SUPPORT</h4>
                    </div>
                    <div class="link-widget">
                        <div class="info">
                            <a href="#x">Terms & Conditions</a>
                        </div>
                        <div class="info">
                            <a href="#x">Shipping & Return</a>
                        </div>
                        <div class="info">
                            <a href="faq.html">F.A.Q</a>
                        </div>
                        <div class="info">
                            <a href="contact.html">Contact</a>
                        </div>
                    </div>
                </div><!-- / widget -->
                <!-- / third widget -->

                <div class="col-md-4 widget">
                    <div class="widget-title">
                        <h4>CONTACT</h4>
                    </div>
                    <div class="contact-widget">
                        <div class="info">
                            <p><i class="lnr lnr-map-marker"></i><span>Miami, S Miami Ave, SW 20th, Store No.1</span></p>
                        </div>
                        <div class="info">
                            <a href="tel:+0123456789"><i class="lnr lnr-phone-handset"></i><span>+0123 456 789</span></a>
                        </div>
                        <div class="info">
                            <a href="mailto:hello@yoursite.com"><i class="lnr lnr-envelope"></i><span>office@yoursite.com</span></a>
                        </div>
                        <div class="info">
                            <i class="lnr lnr-thumbs-up"></i>
                            <span class="social text-left">
                                <a class="no-margin" href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </span>
                        </div>
                    </div><!-- / contact-widget -->
                </div><!-- / widget -->
                <!-- / fourth widget -->

            </div><!-- / row -->
        </div><!-- / container -->
    </div><!-- / widget-area -->
    <div class="footer-info">
        <div class="container">
                <div class="pull-left copyright">
                    <p><strong>© MS - MINIMAL SHOP THEME</strong></p>
                </div>
                <span class="pull-right">
                    <%= image_tag "visa.png" %>
                    <%= image_tag "mastercard.png" %>
                    <%= image_tag "discover.png" %>
                    <%= image_tag "paypal.png" %>
                </span>
        </div><!-- / container -->
    </div><!-- / footer-info -->
</footer>
