<!-- header-banner -->
<div id="header-banner">
    <div class="banner-content single-page text-center">
        <div class="banner-border">
            <div class="banner-info">
                <h1>Se connecter</br>Créer un compte</h1>
            </div><!-- / banner-info -->
        </div><!-- / banner-border -->
    </div><!-- / banner-content -->
</div>
<!-- / header-banner -->
</header>
<!-- / header -->

<!-- login-register -->
<section id="login-register">
<div class="container">
    <div class="row">
        <!-- login form 1 -->
        <div class="col-sm-6">
            <div id="login-form">
                <h3 class="log-title">SE CONNECTER</h3>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field form-group">
                    <%= f.label :login %><br />
                    <%= f.text_field :login, autofocus: true, autocomplete: "email", placeholder: "Email ou Username", class: "form-control" %>
                  </div>

                  <div class="field form-group">
                    <%= f.label :password, 'Mot de passe' %><br />
                    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Mot de passe", class: "form-control" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="field log-line">
                      <div class="pull-left">
                      <%= f.check_box :remember_me, id: "checkbox1" %>
                      <%= f.label :remember_me, 'Se souvenir de moi' %>
                      </div>
                    </div>
                  <% end -%>

                  <div class="actions pull-right">
                    <%= f.submit "Log in", class: "btn btn-md btn-primary-filled btn-log btn-rounded" %>
                  </div>
                <% end %>

                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %><br />
                <% end -%>
                <!-- log-line -->

            </div>
        </div><!-- / col-sm-6 -->
        <!-- / login form 1 -->



        <!-- register form 1 -->
        <div class="col-sm-6">
            <div id="register-form">
                <h3 class="log-title">CRÉER UN COMPTE</h3>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>


                  <div class="field form-group">
                    <%= f.label :login, 'Pseudo' %><br />
                    <%= f.text_field :login, autofocus: true, class:"form-control", placeholder: "jackydu59"%>
                  </div>


                  <div class="field form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, class:"form-control", placeholder: "test@example.com" %>
                  </div>


                  <div class="field form-group">
                    <%= f.label :password, 'Mot de passe' %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "mot de passe" %>
                  </div>

                  <div class="field form-group">
                    <%= f.label :password_confirmation, 'Confirmation du mot de passe' %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: "confirmation" %>
                  </div>

                  <div class="actions pull-right">
                    <%= f.submit "Sign up", class: "btn btn-md btn-primary-filled btn-log btn-rounded" %>
                  </div>
                <% end %>
                <div id="register-msgSubmit" class="h3 text-center hidden"></div>
                <div class="clearfix"></div>
            </div>
        </div><!-- / col-sm-6 -->
        <!-- / register form 1 -->
    </div><!-- / row -->
    <!-- / form 1 -->
</div><!-- / container -->
</section>
<!-- / login-register -->
