<!-- header-banner -->
<div id="header-banner">
    <div class="banner-content single-page text-center">
        <div class="banner-border">
            <div class="banner-info">
                <h1>Se connecter</br>Créer un compte</h1>
            </div><!-- / banner-info -->
        </div><!-- / banner-border -->
    </div><!-- / banner-content -->
</div>
<!-- / header-banner -->
</header>
<!-- / header -->

<!-- login-register -->
<section id="login-register">
<div class="container">
    <div class="row">
        <!-- login form 1 -->
        <div class="col-sm-6">
            <div id="login-form">
                <h3 class="log-title">SE CONNECTER</h3>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field form-group">
                    <%= f.label :identifiant %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email ou Username", class: "form-control" %>
                  </div>

                  <div class="field form-group">
                    <%= f.label :password, 'Mot de passe' %><br />
                    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Mot de passe", class: "form-control" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="field log-line">
                      <div class="pull-left">
                      <%= f.check_box :remember_me, id: "checkbox1" %>
                      <%= f.label :remember_me, 'Se souvenir de moi' %>
                      </div>
                    </div>
                  <% end -%>

                  <div class="actions pull-right">
                    <%= f.submit "Log in", class: "btn btn-md btn-primary-filled btn-log btn-rounded" %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>
                <!-- log-line -->

            </div>
        </div><!-- / col-sm-6 -->
        <!-- / login form 1 -->

        <!-- register form 1 -->
        <div class="col-sm-6">
            <div id="register-form">
                <h3 class="log-title">REGISTER</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="register-email" placeholder="EMAIL" required data-error="*Please fill out this field">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="register-username" placeholder="USERNAME" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="register-password" placeholder="PASSWORD" required data-error="*Please fill out this field">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="register-cpassword" placeholder="CONFIRM PASSWORD" required>
                    <div class="help-block with-errors"></div>
                </div>
                <!-- log-line -->
                <div class="log-line reg-form-1 no-margin">
                    <div class="pull-left">
                        <div class="checkbox checkbox-primary space-bottom">
                            <label class="hide"><input type="checkbox"></label>
                            <input id="checkbox2" type="checkbox">
                            <label for="checkbox2"><span><a href="#x">Terms & Conditions</a></span></label>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" id="reg-submit" class="btn btn-md btn-primary-filled btn-log btn-rounded">Register</button>
                        <div id="register-msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- / log-line -->
            </div>
        </div><!-- / col-sm-6 -->
        <!-- / register form 1 -->
    </div><!-- / row -->
    <!-- / form 1 -->
</div><!-- / container -->
</section>
<!-- / login-register -->
