<div id="top"></div>
<!-- nav -->
<nav class="navbar navbar-default nav-sec navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <%= link_to root_path do %>
            <%= image_tag "logo.png"%>
            <%end%>
        </div><!-- / navbar-header -->
        <div class="secondary-nav">
            <%= link_to "", new_user_session_path, class:"my-account space-right fa fa-user" %>
            <a href="shopping-cart.html" class="shopping-cart"><i class="fa fa-shopping-cart"></i> <span class="cart-badge">2</span></a>
        </div>
        <div class="navbar-collapse collapse text-center">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to root_path do %>
                <span>HOME</span><%end%></li>
                <li><%= link_to about_path do %>
                  <span>ABOUT</span><%end%></li>
                  <li><%= link_to items_path do %>
                    <span>SHOP</span><%end%></li>
                    <li><%= link_to contact_path do %>
                      <span>CONTACT</span><%end%></li>
            </ul>
        </div><!--/ nav-collapse -->
    </div><!-- / container -->
</nav>
<!-- / nav -->
