<div id="top"></div>
<!-- nav -->
<nav class="navbar navbar-default nav-sec navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <%= link_to root_path do %>
            <%= image_tag "logo.png"%>
            <%end%>
        </div><!-- / navbar-header -->
        <div class="secondary-nav">

          <a href="#" class="dropdown-toggle my-account space-right fa fa-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
          <ul class="dropdown-menu animated zoomIn fast">

            <% if user_signed_in? %>
              <li><%= link_to edit_user_registration_path(@user) do %>
                <span>Voir/Editer mon profil</span>
                <% end %>
              </li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>
                <span>Se déconnecter</span>
                <% end %>
              </li>
            <% else %>
              <li><%= link_to new_user_session_path do %>
                <span>Se connecter</span>
                <% end %>
            <% end %>
          </ul>
          <% if @cart %>
            <%= link_to @cart, class: "shopping-cart" do %>
              <i class="fa fa-shopping-cart"></i> <span class="cart-badge"><%= @cart.line_items.count %></span>
            <% end %>
          <% else %>
            <%= link_to @cart, class: "shopping-cart" do %>
              <i class="fa fa-shopping-cart"></i> <span class="cart-badge">0</span>
            <% end %>
          <% end %>
        </div>
        <div class="navbar-collapse collapse text-center">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to root_path do %>
                <span>HOME</span><%end%></li>
              <li><%= link_to items_path do %>
                <span>BOUTIQUE</span><%end%></li>
              <li><%= link_to about_path do %>
                <span>A PROPOS DE NOUS</span><%end%></li>
              <li><%= link_to contact_path do %>
                <span>CONTACT</span><%end%></li>
            </ul>
        </div><!--/ nav-collapse -->
    </div><!-- / container -->
</nav>
<!-- / nav -->
